# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
Podfile.lock

# Misc
.DS_Store
.env
*.log
